{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    <li><strong>Connect</strong></li>
    <li><a href="mailto:shwai.he@gmail.com"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a></li>
    <li><a href="https://scholar.google.com/citations?user=4y5BYF0AAAAJ&amp;hl=en"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
    <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    <li><a href="{{ base_path }}/philosophy/"><i class="fas fa-fw fa-lightbulb" aria-hidden="true"></i> Philosophy</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. Researching efficient, adaptive, and interpretable foundation models.</div>
